//项目提供全局变量
$blue: rgb(27, 85, 211);
$light-blue: skyblue;
$text-white: #ffffff;
$navibar-width: 250px;
$header-height: 60px;
$navibar-bg-color: $blue;
//菜单logo高度
$navibar-logo-height: 80px;
//logo右侧文字字体大小
$navibar-logo-font-size: 18px;
